:host {
    display: block;
  
    .task-form {
      gap: 1rem;
  
      .p-field {
        margin-bottom: 1.5rem;
  
        label {
          font-weight: 500;
          display: block;
          margin-bottom: 0.25rem;
        }
  
        .required {
          color: var(--red-600);
        }
  
        input[pInputText],
        textarea[pTextarea],
        .p-datepicker,
        .p-select {
          width: 100%;
        }

      }
  
      .dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid var(--surface-border);
      }
    }
  }
  